*.jpg
CascadeDataCollection/debug/
CascadeDataCollection/Makefile.Release
CascadeDataCollection/Makefile.Debug
CascadeDataCollection/.qmake.stash
CascadeDataCollection/Makefile
*.bmp
CascadeDataCollection/release/
*.txt
